/*

These are Vokseværk-specific overrides/tweaks to the Backoffice

*/

.umb-tree ins {
	/* We want to keep the arrows visible at all times */
	visibility: visible !important;
	
	/* Fix the misaligned icons too */
	margin-left: -13px !important;
}

/* Make it easier to see unpublished nodes */
div.not-published > i.icon,
div.not-published > a {
	opacity: 0.5;
	color: #900;
}
